.selected {
    padding-left: 10px;
    background-color: #2bb0dc;
    width: 100%;
}
.topic-choice {
    width: 100%;
}
.list-header {
    margin: 10px;
}
.flow {
    display: inline-block;
    vertical-align: top;
}
.left-content {
    height: 500px;
    width: 300px;
}
#word-image {
    max-width: 600px;
    max-height: 600px;
}
#topic-list {
    background-color: #FFFFFF;
    margin: 10px;
    border: 2px solid #888;
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
}
.topic-choice {
    border: 2px solid #888;
    font-size: 30px;
    padding: 2px;
    margin: 0px;
}
#mode-list {
    background-color: #FFFFFF;
    margin: 10px;
    border: 2px solid #888;
    max-height: 300px;
    width: 100%;
}
.mode-choice {
    border: 2px solid #888;
    font-size: 30px;
    padding: 2px;
    margin: 0px;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#myCarousel {
    width:auto;
    height: auto;
    margin: 20px;
    background-color: #FFFFFF;
}
.carousel-border {
    border: 3px solid #2bb0dc;
}
.center-block {
    vertical-align: middle;

    display: block;
    width: 400px;
    height: 400px;
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
}
.carousel-inner {
    vertical-align: middle;
    width: 800px;
    height: 100%;
    margin: auto;
}
.carousel-control {
    width: 5% !important;
}